.searchLogo {
  height: 1.75rem;
  margin-bottom: -0.25rem;
  margin-left: 1rem;
}

.searchMain {
  padding: 0 1.5rem;
  margin-top: 0;
  justify-content: flex-start;
}

.search.mobile {
  display: none;
}

.searchHeader {
  position: sticky;
  top: 0;
  background: var(--gr3);
  z-index: 10;
  transition: all 0.2s;
}

.searchHeader.scrolled {
  box-shadow: 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
}

.headerSearch {
  max-width: 600px;
  flex: 1;
}

.search.desktop {
  margin-left: 1.5rem;
}

.search {
  input {
    border-radius: 99px;
    padding: 0.75rem 1rem;
  }
}

.options {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 2rem 1rem;

  li {
    color: var(--bk3);
    display: flex;
    align-items: center;
    transition: color 0.2s;

    + {
      li {
        margin-left: 1.5rem;
      }
    }

    svg {
      width: 1.5rem;
      transition: color 0.2s;
    }

    span {
      margin-left: 0.25rem;
    }

    &:last-of-type {
      margin-left: auto;
      margin-right: 0;
    }
  }

  li.active {
    color: var(--b2);

    svg {
      color: var(--b2);
    }
  }

  li.icon {
    &::before {
      left: -0.5rem;
    }
  }
}

.results {
  list-style-type: none;
  width: 100%;
  max-width: 600px;
  margin-right: auto;

  li {
    margin-bottom: 1rem;

    a {
      display: block;
      padding: 1rem;
      transition: all 0.2s;
      border-radius: 1rem;
      background: var(--white);
      box-shadow: 0 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.05);

      &:hover {
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
      }
    }
  }

  .link {
    color: var(--bk3);
    font-size: 0.85rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.75;
  }

  .title {
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: 0.15rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
  }

  .extract {
    color: var(--bk2);
  }
}

.results.dark {
  li {
    a {
      box-shadow: 0 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.25);

      &:hover {
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
      }
    }
  }

  a {
    &:hover {
      .title {
        color: var(--b1);
      }
    }
  }
}

.time {
  font-size: 0.85rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
  transition: all 0.2s;
  background: var(--gr3);
  color: var(--bk3);
  box-shadow: 0 -1rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
}

.navigation {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: 1.25rem auto 2rem 0;
  padding: 1rem;

  p {
    margin-right: auto;
  }

  button {
    background: none;
    border: none;

    + {
      button {
        margin-left: 1.5rem;
      }
    }
  }

  .icon {
    svg {
      width: 1.5rem;
    }
  }
}

@media (max-width: 550px) {
  .options {
    li {
      + {
        li {
          margin-left: 1rem;
        }
      }

      span {
        display: none;
      }
    }

    padding: 1rem;
  }

  .search.mobile {
    display: flex;
  }

  .search.desktop {
    display: none;
  }

  .time {
    padding: 1rem 1rem 1.25rem;
    border-radius: 1rem;
  }

  .results {
    li {
      margin-bottom: 0.75rem;
    }
  }
}
